<header id="a" class="header">
	<div class="topbar">
		<div class="container-layout">
			<div class="topbar-left">
				<div class="phone">
					<span class="icon-phone"></span>
					<span class="number">+421 964 335 12</span>
				</div>
				<ul class="value unstyle">
					<li>
						<a href=""><span class="icon-eur is-active"></span></a>
					</li>
					<li>
						<a href=""><span class="icon-gbp"></span></a>
					</li>
					<li>
						<a href=""><span class="icon-dollar"></span></a>
					</li>
				</ul>
				<div class="lang"><a href="">English</a></div>
			</div>
			<div class="topbar-right">
				<ul class="user-menu unstyle">
					<li>
						<a href="">my account</a>
					</li>
					<li>
						<a href="">wishlist</a>
					</li>
					<li>
						<a href="index - checkout.html">checkout</a>
					</li>
					<li>
						<a href="">login</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<nav class="navbar">
		<div class="container-layout">
			<div class="navbar-header">
				<a href="index.html" class="navbar-brand">
					<img src="images/logo.png" alt="">
				</a>
				<a href="#navbar-collapse" class="navbar-toggler">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
			</div>
			<div class="navbar-collapse unstyle" id="navbar-collapse">
				<ul class="navbar-nav">
					<li class="navbar-item">
						<a href="index.html" class="navbar-link is-active">home</a>
					</li>
					<li class="navbar-item">
						<a href="index - product-list.html" class="navbar-link">woman</a>
					</li>
					<li class="navbar-item">
						<a href="index - product-list.html" class="navbar-link">man</a>
					</li>
					<li class="navbar-item">
						<a href="" class="navbar-link">kids</a>
					</li>
					<li class="navbar-item">
						<a href="" class="navbar-link">hot</a>
					</li>
					<li class="navbar-item">
						<a href="" class="navbar-link">pages</a>
					</li>
					<li class="navbar-item">
						<a href="" class="navbar-link"><span class="icon-search"></span></a>
					</li>
					<li class="navbar-item">
						<a href="index - checkout.html" class="navbar-link"><span class="icon-shopping-cart"></span></a>
						<div class="counter">5</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>