<div class="features inverse">
	<div class="container">
		<ul class="features-box unstyle row">
			<li class="features-item col-sm-12 col-md-4">
				<div class="features-img">
					<span class="icon-phone"></span>
				</div>
				<div>
					<div class="features-title" style="color: #fff">
						+421 964 335 12
					</div>
					<div class="features-description">
						Customer support 24/7
					</div>
				</div>
			</li>
			<li class="features-item col-sm-12 col-md-4">
				<div class="features-img">
					<span class="icon-truck"></span>
				</div>
				<div>
					<div class="features-title">
						fast delivery
					</div>
					<div class="features-description">
						worldwide & free
					</div>
				</div>
			</li>
			<li class="features-item col-sm-12 col-md-4">
				<div class="features-img">
					<span class="icon-trophy"></span>
				</div>
				<div>
					<div class="features-title">
						over 125k+
					</div>
					<div class="features-description">
						satisfied customers
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>