<footer class="footer">
	<div class="footer-main row clearfix">
		<div class="container">
			<div class="about col-sm-4 col-xs-12">
				<div class="heading">about us</div>
				<div class="description">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				</div>
			</div>
			<div class="info col-sm-offset-2 col-sm-3 col-xs-6">
				<div class="heading">informations</div>
				<ul class="unstyle">
					<li><a href="">Delivery Informations</a></li>
					<li><a href="">Payment Informations</a></li>
					<li><a href="">FAQ</a></li>
					<li><a href="">Contacts</a></li>
					<li><a href="">Career</a></li>
					<li><a href="">Order Tracking</a></li>
					<li><a href="">Customer Service</a></li>
				</ul>
			</div>
			<div class="contacts col-sm-3 col-xs-6">
				<div class="heading">contact us</div>
				<div class="adress">
					<b>Headquarters:</b><br>Vajnorska 127, Lorem Tower<br>Bratislava, SK
				</div>
				<div>
					<span><b>Phone:</b> 0948 665 666</span>
					<span><b>Fax:</b> +421 02 66 84 69</span>
					<span><b>Email:</b> minovate@tattek.com</span>
					<span><b>Skype:</b> tattek</span>
				</div>
			</div>
		</div>
	</div>
	<div class="social-block clearfix">
		<div class="container">
			<div class="form-box">
				<div class="heading">newsletter</div>
				<form class="form-group">
					<input type="email" class="email" placeholder="Enter your email" required=""/>
					<input type="submit" class="form-btn" value="SUBSCRIBE"/>
				</form>
			</div>
			<div class="social-box">
				<ul class="social unstyle">
					<li>
						<a href="">
							<span class="icon-facebook"></span>
						</a>
					</li>
					<li>
						<a href="">
							<span class="icon-twitter"></span>
						</a>
					</li>
					<li>
						<a href="">
							<span class="icon-google-plus"></span>
						</a>
					</li>
					<li>
						<a href="">
							<span class="icon-pinterest"></span>
						</a>
					</li>
					<li>
						<a href="">
							<span class="icon-dribbble"></span>
						</a>
					</li>
					<li>
						<a href="">
							<span class="icon-git"></span>
						</a>
					</li>
					<li>
						<a href="">
							<span class="icon-linkedin"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="copyright clearfix">
		<div class="container">
			<div class="copy">
				<p>© Copyright 2015 by <span>Minovate</span>. All Rights Reserved.</p>
				<p>Terms of Use  /  Privacy Policy</p>
			</div>
			<div class="pay-cards">
				<ul class="unstyle">
					<li>
						<img src="images/payCard-1.png" alt="">
					</li>
					<li>
						<img src="images/payCard-2.png" alt="">
					</li>
					<li>
						<img src="images/payCard-3.png" alt="">
					</li>
					<li>
						<img src="images/payCard-4.png" alt="">
					</li>
					<li>
						<img src="images/payCard-5.png" alt="">
					</li>
				</ul>
			</div>
			<button class="button page-up"><a href="#a">></a></button>
		</div>
	</div>
	
</footer>